.wrap {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  padding: 0 1.6rem;
  margin: 0 auto;
}

.section-panel {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 3;
  color: #fff;
  padding: 10rem 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include bp('md') {
    justify-content: center;  
  }
}

.panel-wrapper {
  height: 100vh;
  padding: 0 0.8rem;
  box-sizing: border-box;

  @include mobile {
    height: auto;
  }
}

.category-title {
  color: #fff;
  padding: 0;
  margin: 0 auto 3.2rem;
  font-size: 3.2rem;
  font-family: $font-primary;
  text-align: center;
   
  visibility: visible;

  @include bp('md') {
    text-align: left;
  }

  span.logo {
    width: 25px;
    height: 25px;
    top: 5px;
  }
}

.bg-overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(8, 42, 76, 0.10);
  margin: 0 auto;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  transition: all 0.15s ease-out;
}

.static-bg {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: url(../../assets/images/digi-bg1.png) repeat center center;
  background-size: cover;
}

.mobile-only {
  display: none !important;

  @include mobile {
    display: inline-block !important;
  }
}

.tablet-only {
  display: inline-block !important;

  @include mobile {
    display: none !important;
  }

  @include desktop {
    display: none !important;
  }
}

.desktop-only {
  display: inline-block !important;

  @include mobile {
    display: none !important;
  }
}
