.home {
  // padding-top: 0;
  min-height: 100vh;
  justify-content: center;

  .panel-static {
    text-align: center;
  }

  .static-inner {
    position: relative;
    transform: scale(1, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
    }
  }

  .copy-block {
    position: absolute;

    h1 {
      font-family: $font-primary;
      font-size: 4rem;
      margin: 0 auto;
      color: $primaryBlue;
      width: 100%;

      @include bp('md') {
        font-size: 4.8rem;
      }

      .name {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease-in-out 0.35s;

        &.show {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .tagline {
      margin: 0em auto;
      opacity: 0;
      visibility: hidden;
      transition: opacity 1.5s ease-in-out 1s;
      font-weight: 700;

      &.show {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .title {
    margin: 0;
    opacity: 0;
    visibility: hidden;
    right: -30px;
    top: 0px;
    position: relative;
    color: $primaryBlue;

    &.show {
      opacity: 1;
      visibility: visible;
      right: 0px;
    }
  }

  .gear-icon {
    width: 200px;
    opacity: 1;
    transition: opacity 1s ease-out 0s;

    @include bp('md') {
      width: 250px;
    }

    &.hide {
      opacity: 0;
    }

    .gear {
      animation: spin 3s forwards linear;
      transform-origin: center center;
      opacity: 0.125;
      transition: opacity 1s ease-in 0s;

      &.show {
        opacity: 0.9;
      }
    }

    .left-bracket {
      opacity: 0;
      transition: opacity 1s ease-in 0s;

      &.show {
        opacity: 1;
        transition: opacity 1.5s ease-in-out 0.25s;
      }
    }

    .ess {
      transform-origin: bottom center;
      opacity: 0;
      transition: opacity 1s ease-in 0s;

      &.show {
        opacity: 1;
        transition: opacity 1.5s ease-in-out 0.25s;
      }
    }

    .emm {
      transform-origin: bottom center;
      opacity: 0;
      transition: opacity 1s ease-in 0s;

      &.show {
        opacity: 1;
        transition: opacity 1.5s ease-in-out 0.25s;
      }
    }

    .right-bracket {
      opacity: 0;
      transition: opacity 1s ease-in 0s;

      &.show {
        opacity: 1;
        transition: opacity 1.5s ease-in-out 0.25s;
      }
    }
  }

  @include keyframes(spin) {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(220deg);
    }
  }

  .see-next {
    transform: translateY(100px);
    transition: all 0.5s ease-out 0.5s;

    &.show {
      transform: translateY(0px);
    }
  }
}
