.home {
  padding-top: 0;
  min-height: 100vh;
  justify-content: center;

  .panel-static {
    text-align: center;
  }

  .static-inner {
    position: relative;
    transform: scale(1, 1);
    font-size: 2.4rem;    
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      font-size: 1.8rem;
    }
  }

  .copy-block {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out 0.35s;
  
    &.show {
      opacity: 1;
    }

    h1 {
      font-family: $font-regular;
      font-size: 4.8rem;
      margin: 0 auto 0.8rem;
      color: $primaryBlue;
      width: 100%;

      @include bp('md') {
        
      }
  
      // @include mobile {
      //   line-height: 24px;
      //   padding: 0px 0px 5px;
      //   width: 280px;
      // }

      .name {
        opacity: 0;
        visibility: hidden;
        position: relative;
        
    
        &.show {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .tagline {
      font-size: 2.4rem;
      font-weight: bold;
      margin: 0em auto;
      opacity: 0;
      visibility: hidden;
      position: relative;
      overflow: hidden;
      width: 100%;
      left: -30px;
      
  
      &.show {
        opacity: 1;
        visibility: visible;
        left: 0;
      }
  
      @include mobile {
        margin: 0.5em auto;
      }
    }
  }

  .title {
    font: 1.6rem $font-regular;
    margin: 0;
    opacity: 0;
    visibility: hidden;    
    right: -30px;
    top: 0px;
    position: relative;
    color: $primaryBlue;
    font-weight: bold;

    &.show {
      opacity: 1;
      visibility: visible;
      right: 0px;
    }
  }

  .gear-icon {
    width: 250px;
    opacity: 1;
    transition: opacity 1s ease-out 0s;

      &.hide {
        opacity: 0;
      }

    .gear {
      animation: spin 5s forwards linear;
      transform-origin: center center;
      opacity: 0.125;
      transition: opacity 1s ease-in 0s;

      &.show {
        opacity: 0.9;
      }
    }

    .left-bracket {
      opacity: 0;
      transition: opacity 1s ease-in 0s;

      &.show {
        opacity: 1;
        transition: opacity 1.5s ease-in-out 0.25s;
      }
    }

    .ess {
      transform-origin: bottom center;
      opacity: 0;
      transition: opacity 1s ease-in 0s;

      &.show {
        opacity: 1;
        transition: opacity 1.5s ease-in-out 0.25s;
      }
    }

    .emm {
      transform-origin: bottom center;
      opacity: 0;
      transition: opacity 1s ease-in 0s;

      &.show {
        opacity: 1;
        transition: opacity 1.5s ease-in-out 0.25s;
      }
    }

    .right-bracket {
      opacity: 0;
      transition: opacity 1s ease-in 0s;

      &.show {
        opacity: 1;
        transition: opacity 1.5s ease-in-out 0.25s;
      }
    }
  }

  @include keyframes(spin) {
    0% {
      transform: rotateZ(0deg)
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
}

.see-more {
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 35px;
  bottom: 16px;
  left: 0;
  right: 0;
  cursor: pointer;
  transform: translateY(100px);
  transition: all .5s ease-out 0.5s;

  &.show {
    transform: translateY(0px);
  }
}