.nav {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  background: #141414;
  display: flex;
  justify-content: space-between;
  transform: translateY(-60px);
  transition: all 0.5s ease-out;

  &.show {
    transform: translateY(0px);
  }

  .container-fluid {
    width: 100%;
  }

  .logo {
    display: flex;
    width: 96px;
    height: 100%;
    align-items: center;
    cursor: pointer;

    svg {
      width: 100%;
      pointer-events: none;
    }
  }

  ul {
    padding: 0;
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-between;

    li {
      text-align: center;
      position: relative;
      line-height: 36px;
      cursor: pointer;
      opacity: 0.5;
      transition: all 0.25s ease-out;
      font-size: 1.8rem;
      font-weight: 600;

      &[data-active='true'] {
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
