// DEFAULT OPTIONS
$font-primary: 'M PLUS Rounded 1c', sans-serif;

// Colors
$primaryColor: #141414 !default;
$secondaryColor: #ffffff !default;
$primaryBlue: #0080ff !default;

// Browser Prefixes - Which CSS prefixes should be used?
$webkit: true !default;
$moz: true !default;
$ms: true !default;
$o: true !default;
