.projects {
  color: $primaryColor;
  background: #fff;

  &:before, &:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    transform-origin: 100%;
    z-index: -1;
  }
  
  &:before {
    transform: skewY(-1.5deg);
    top: -50px;
  }

  &:after {
    transform: skewY(-1.5deg);
  }

  h2 {
    color: $primaryColor;
  }

  .projects-list {
    margin: 0px auto;
    padding: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

    > li {
      flex-wrap: nowrap;
      display: flex;
      flex-direction: column;
      width: 100%;
      flex-basis: 100%;
      background: #fff;
      overflow: hidden;
      border-radius: 4px;
      color: #fff;
      padding: 0px;
      margin: 0 0 4.8rem 0;
      text-align: left;
      box-sizing: border-box;

      @include bp("md") {
        width: 32%;
        flex-basis: 32%;
        margin: 0 0 3.2rem;
      }

      &:last-child {
        margin-bottom: 0;
      }

      h3 {
        margin: 0;
        color: #fff;
      }

      p {
        margin: 0 0 0.25rem;
        color: $primaryBlue;
      }

      .base-item {
        background: #e1e1e1 url(../../assets/images/me-trans.png) no-repeat 50%
          0%;
        background-size: cover;
        width: 100%;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        padding: 2.4rem;
        box-sizing: border-box;

        @include bp("md") {
          background-size: contain;
        }

        .info-bar {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          z-index: 2;
          background: $primaryBlue;
          color: #fff;
          padding: 2.4rem 1.6rem 1.6rem;
          box-sizing: border-box;
        }
      }

      .slide-item {
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1.6rem;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(-101%, 0, 0);
        transition: all 0.3s ease-out;

        span {
          color: #fff;
        }
      }

      .slide-item[data-active="true"] {
        transform: translate3d(0, 0, 0);
      }

      .tech {
        margin-bottom: 1.6rem;
      }

      > a {
        margin-bottom: 1.6rem;
      }

      .description {
        color: $primaryColor;
      }
    }
  }
}
